html, body{
    margin: 0%;
    padding: 0%;
    height: 100%;
}

table{
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  }

#cell1{
  background-color: #DAA3D9;
  text-align: left;
  width: 50%;
} 

#cell2{
  background-color: #76B4DE;
  text-align: left;
  width: 50%;
}